<!DOCTYPE html>
<html>
<head>
	<title>traitementCommande.component</title>
</head>
<body>
	<div>
		<h1>{{title}}</h1>
	</div>
	<div >
		<ul>
			<li *ngFor="let cart of cartItems" >
				<img src="{{cart.item.image}}" style="height:50px; width:50px"/>
				nom:<span>{{cart.item.nom}}</span> ;
				prix: <span>{{cart.item.prix}}</span>.- ;
				Qte: <span>{{cart.qte}}</span> ;
				PrixTotal: <span (click)="calculerPrixTotal(cart.qte, cart.item.prix)">{{total}}</span>
			</li>

		</ul>
		<div>Sous-total: {{sousTotal}}</div>
	</div>
	<div >
		<button (click)="goBack()">Back</button>
		<button (clik)="validerCart()">Valider Commande</button>
	</div>
</body>
</html>
