<!DOCTYPE html>
<html>
<head>
	<title>traitementCommande.component</title>
</head>
<body>
	<div>
		<h1>{{title}}</h1>
	</div>
	<div *ngIf="emptyCart ===true">Aucun article présent dans le panier.</div>
	<div >
		<div  *ngIf="emptyCart ===false">
			<ul>
				<li *ngFor="let cart of cartItems" >
					<img src="{{cart.item.image}}" style="height:50px; width:50px"/>
					<span>Nom:{{cart.item.nom}} ; </span>
					<span>Prix Unitaire: {{cart.item.prix}} CHF ; </span>
					<span>Qte: {{cart.qte}} ; </span>
					<span>Prix: {{cart.qte * cart.item.prix}} CHF </span>
					<button style="color: red" (click)="deleteCartItem(cart)">X</button>
				</li>

			</ul>
			<div>Total: {{total}} CHF </div>
		</div>
		<div >
			<button (click)="goBack()">Back</button>
			<button *ngIf="emptyCart ===false" (click)="validerCart()">Valider Commande</button>
		</div>
	</div>
</body>
</html>
