<!DOCTYPE html>
<html>
<body>
    <!--Card-->
    <div>
        <ul class="card card-cascade narrower" style="list-style-type:none" *ngFor="let item of items">
            <li>
                <img src="{{item.image}}" class="img-fluid"  (click)="onSelect(item)" (click)="gotoItem()">
                <div class="card-block text-xs-center">
                    <!--Category & Title-->
                    <h5>{{item.categorie}}</h5>
                    <h4 class="card-title"><strong>{{item.nom}}</strong></h4>

                    <!--Description-->
                    <p class="card-text">{{item.description}}</p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left">{{item.prix}} CHF</span>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</body>
</html>
