<!DOCTYPE html>
<html>
<head>
    <title>home.component</title>
</head>
<body>
    <div id="content">
        <ul >
            <li *ngFor="let item of items">
                nom:<span>{{item.nom}}</span><br/>
                description:<span>{{item.description}}</span><br/>
                categorie: <span>{{item.categorie}}</span><br/>
                prix: <span>{{item.prix}}</span>.-<br/>
                <img src="{{item.image}}" style="height:60px" (click)="onSelect(item)" (click)="gotoItem()"/>
            </li>

        </ul>

    </div>
</body>
</html>