<div>
    <div>
        <h2>Sign in</h2>
        <form>

            <div>
                <input type="text"  #username placeholder="Username or email">
            </div>

            <div>
                <input type="password" #password class="form-control" placeholder="Password">
            </div>

            <div *ngIf="dataInvalid">
                <p>Data invalide !</p>
            </div>

            <button type="submit" (click)="checkLogin(username.value, password.value)">Login</button>
            <button type="submit" (click)="goToRegister()">Créer compte</button>
        </form>
    </div>
</div>

